.button {
  border-radius: 4px;
  background-color: $theme-blue;
  padding: 14px 65px;
  border: 2px solid $theme-blue;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  letter-spacing: normal;
  -webkit-appearance: button;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
  &:hover {
    background-color:$theme-blue-hover;
    border-color: $theme-blue-hover;
  }
}
.button.secondary {
  color: #000000;
  background-color: transparent;
  &:hover {
    border-color: $theme-blue-hover;
  }
}
.button:disabled {
  opacity: .4;
  background-color: grey;
  border-color: grey;
}


.section {
  margin-bottom: 200px;
  .header {
    position: relative;
    margin-bottom: 65px;
    &:after {
      content: "";
      height: 6px;
      width: 100px;
      background: $theme-blue;
      left: 0;
      bottom: -10px;
      position: absolute;
    }
  }
}