.hero {
  background-image: url(/assets/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 60px;
  .content-container {
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    h1 {
      max-width: 860px;
    }
    p {
      max-width: 860px;
      margin: 40px 0 60px 0;
    }
    a {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

}