<div class="section cause page-column">
  <h2 class="header">
    {{ site.content.sections.cause.header }}
  </h2>
  {{#each site.content.sections.cause.paragraphs }}
    <p>{{ this }}</p>
  {{/each}}
</div>