<div class="section need page-column">
  <h2 class="header">
    {{ site.content.sections.need.header }}
  </h2>
  <ul class="list">
    {{#each site.content.sections.need.list }}
      <li>{{ this }}</li>
    {{/each}}
  </ul>
</div>