@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  line-height: initial;
}
body {
  background-color: #ffffff;
  color: #000;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal; 
  font-style: normal; 
  padding: 0;
  margin: 0;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-column {
  max-width: 1440px;
  margin: auto;
}


h1 {
  font-size: 120px;
  font-weight: 700;
  margin: 0;
  line-height: 0.9;
}
h2 {
  font-size: 62px;
  font-weight: 700;
  margin: 0;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.button {
  border-radius: 4px;
  background-color: $theme-blue;
  padding: 14px 65px;
  border: 2px solid $theme-blue;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  letter-spacing: normal;
  -webkit-appearance: button;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
  &:hover {
    background-color:$theme-blue-hover;
    border-color: $theme-blue-hover;
  }
}
.button.secondary {
  color: #000000;
  background-color: transparent;
  &:hover {
    border-color: $theme-blue-hover;
  }
}
.button:disabled {
  opacity: .4;
  background-color: grey;
  border-color: grey;
}


.section {
  margin-bottom: 200px;
  .header {
    position: relative;
    margin-bottom: 65px;
    &:after {
      content: "";
      height: 6px;
      width: 100px;
      background: $theme-blue;
      left: 0;
      bottom: -10px;
      position: absolute;
    }
  }
}