<!doctype html>
<html lang="en">

  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48714212-26"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-48714212-26');
    </script>
    <title>COVIDHEROES.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arnaud P. Crowther">
    <meta name="designer" content="Boris K. Crowther">
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="/assets/css/main.min.css" type="text/css"/>
    <meta property="og:url" content="https://covidheroes.gives"/>
    <meta name="twitter:title" content="COVIDHEROES. Donate surplus medical equipment to fight against Coronavirus.">
    <meta property="og:title" content="COVIDHEROES. Donate surplus medical equipment to fight against Coronavirus."/>
    <meta property="og:site_name" content="COVIDHEROES. Donate surplus medical equipment to fight against Coronavirus."/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://covidheroes.gives/assets/images/opengraph-image.jpg"/>
    <meta property="og:image:width" content="720"/>
    <meta property="og:image:height" content="376"/>
  </head>

  <body>

    <main>
      {{{ block "content" }}}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha256-1fEPhSsRKlFKGfK3eO710tEweHh1fwokU5wFGDHO+vg=" crossorigin="anonymous"></script>
    <script>
      require(['/assets/js/require.config.min.js'], function() {
        require(["common.min", "home.min"]);
      });
    </script>
  </body>
</html>
